body {
  margin: 0;
  overflow: auto;
}

#main-wrapper {
  position: relative;
  width: 100vw;
  height: 500dvh;
  overflow: hidden;
}

#webgl {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.gradient {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  z-index: 1000;
  pointer-events: none; /* allow interactions to pass through to canvas */
  mix-blend-mode: color-burn;
  background: radial-gradient(ellipse at center top, white 0%, black 350%);
}
